<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BodoInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BodoInventory.Properties.Settings>
            <setting name="NetworkRanges" serializeAs="String">
                <value>192.168.10.{0}</value>
            </setting>
            <setting name="HtmlTargetDir" serializeAs="String">
                <value>C:\Tmp\BodoInventory2</value>
            </setting>
            <setting name="ExcludeIp" serializeAs="String">
                <value />
            </setting>
            <setting name="DomainAdminUsername" serializeAs="String">
                <value>AdAdminRL</value>
            </setting>
            <setting name="DomainAdminPassword" serializeAs="String">
                <value>3EceNSqJHwEarZu+L1nJvg35XJew/3zc</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.1und1.de</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>test@bodoconsult.de</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>zTvinpOyVCZoXD273xpRIw==</value>
            </setting>
            <setting name="SoftwareAllClients" serializeAs="String">
                <value />
            </setting>
            <setting name="DiskLimitAbsolute" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DiskLimitRelative" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value>C:\Daten\Projekte\OwnProjects\BodoInventory\Database\BodoInventory.mdb</value>
            </setting>
            <setting name="SmtpFrom" serializeAs="String">
                <value>hardwarereport@bodoconsult.de</value>
            </setting>
            <setting name="SmtpTo" serializeAs="String">
                <value>robert.leisner@bodoconsult.de</value>
            </setting>
        </BodoInventory.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
